<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>mainSite</title>
    <link rel="stylesheet" type="text/css" href="login-form.css">
    <link rel="stylesheet" type="text/css" href="components.css">
    <link rel="stylesheet" type="text/css" href="mainMenu.css">
</head>
<body>

<ul>
<li><a class="active" href="/mainPage">Home</a></li>
<li><a class="active">Report:</a></li>
<li><a href="/reportThatYouCanSeePage">RTCBS</a></li><li>
    <a href="/UserReport">User Statistics</a></li>
<li><a href="pointOfSalesPage">Point of sale statistics</a></li>
<li><a href="/productReportMenu">Product statistics</a></li>
</ul>


<center>
    <form method="get" >
        <button formaction="/logout">Logout</button>
    </form>
</center>



<div class="container" style="background-color:#989898">

</div>

</body>
</html>