<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Report PointOfSales</title>
    <link rel="stylesheet" type="text/css" href="reportPointOfSales.css">
    <link rel="stylesheet" type="text/css" href="mainMenu.css">
</head>

<body>

<ul>
    <li><a class="active" href="/mainPage">Home</a></li>
    <li><a class="active">Report:</a></li>
    <li><a href="/reportThatYouCanSeePage">RTCBS</a></li><li>
    <a href="/UserReport">User Statistics</a></li>
    <li><a href="pointOfSalesPage">Point of sale statistics</a></li>
    <li><a href="/productReportMenu">Product statistics</a></li>
</ul>
<div class="pointOfSalesMenu">

    <a href="/reportOfProduct" class="buttonPoint">1.Report of products</a><br><br>
    <a href="/averageOfDayOrMonth" class="buttonPoint">2.Average of day or month</a><br><br>
    <a href="/add" class="buttonPoint">3.Add</a><br><br>

</div>
</div>
</body>
</html>