<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Product Menu</title>
    <link rel="stylesheet" type="text/css" href="reportPointOfSales.css">
    <link rel="stylesheet" type="text/css" href="login-form.css">
    <link rel="stylesheet" type="text/css" href="components.css">
    <link rel="stylesheet" type="text/css" href="mainMenu.css">
</head>
<body>

<ul>
    <li><a class="active" href="/mainPage">Home</a></li>
    <li><a class="active">Report:</a></li>
    <li><a href="/reportThatYouCanSeePage">RTCBS</a></li>
    <li>
        <a href="/UserReport">User Statistics</a></li>
    <li><a href="pointOfSalesPage">Point of sale statistics</a></li>
    <li><a href="/productReportMenu">Product statistics</a></li>
</ul>

<table class = "table">
    <thead>
    <tr>
        <th><center>Product Name</center> </th>
        <th> <center>Total Quantity Sold between chosen days</center> </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="sth : ${list}">
        <td><span th:text="${sth[0]}"></span></td>
        <td><span th:text="${sth[1]}"></span></td>
    </tr>
    </tbody>


</table>

</body>
</html>
